body {
    background-image: url(https://t3.ftcdn.net/jpg/02/54/26/52/360_F_254265251_x2xgxCYBfMQZEFkaJuX3YYfEQ7jIpKtd.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    background: linear-gradient( rgb(156, 0, 199) 75%, rgb(112, 26, 158), rgb(96, 25, 155));
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 600px;
    border-radius: 10px;
    border-style:dotted;
}

h1,h2{
    text-align: center;
    color: white;
    font-family:Snell Roundhand, cursive;
    font-size: 28px;
}

p {
    text-align: center;
    color: white;
    font-family: FreeMono, monospace;
    font-size: 18px;
}

.ac {
    size: 18px;
    text-align: left;
    width: 60%;
    display: inline-block;
}
.ac2 {
    text-align: right;
    display: inline-block;
    width: 30%;
}

hr {
    height: 2px;
    background-color: rgb(248, 67, 245);
    border-color: rgb(233, 0, 225);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin: auto;
    border-radius: 20px;

}

.Criador {
    font-family: fantasy;
}

.caixa1 {

    text-align: right;
    right: 1150px;
    bottom: 666px;
    top: auto;
    position: absolute;


}
 .caixa2 {
    text-align: right;
    right: 1150px;
    bottom: 609px;
    top: auto;
    position: absolute;
 }

 .caixa3 {
    text-align: right;
    right: 1055px;
    bottom: 552px;
    top: auto;
    position: absolute;

 }

.caixa4 {
    text-align: right;
    right: 1165px;
    bottom: 494px;
    top: auto;
    position: absolute;

 }

.caixa5 {
    text-align: right;
    right: 665px;
    bottom: 666px;
    top: auto;
    position: absolute;
}

.caixa6 {
    text-align: right;
    right: 665px;
    bottom: 610px;
    top: auto;
    position: absolute;
}

.caixa7 {
    text-align: right;
    right: 665px;
    bottom: 552px;
    top: auto;
    position: absolute;
}

.caixa8 {
    text-align: right;
    right: 665px;
    bottom: 493px;
    top: auto;
    position: absolute;
}